body {
	color: #ffffff;
	overflow-x: hidden;
	background-color: #333333;
	font-family: "League Gothic", sans-serif;
  }

* {
	margin: 0;
	padding: 0;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  h2 {
	font-size: 45px;
	text-align: center;
	color:black;
  }
  
  p {
	font-size: 20px;
	line-height: 30px;
  }
  
  .container {
	max-width: 1300px;
	padding-right: 25px;
	padding-left: 25px;
	margin: 0 auto;
	
  }
  
  /* nav */
  .main-navbar {
	background-color: transparent;
	position:fixed;
  }
  
  .main-navbar .contents {
	display: flex;
	height: 60px;
  }
  
  .main-navbar ul {
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-top: 150px;
	text-align: right;
	background-color: white;
	
  }
  
  .main-navbar ul li {
	margin-bottom: 10px;
  }
  
  .main-navbar ul li a {
	color:black;
	display: block;
	font-size: 24px;
	padding: 10px 0;
	text-decoration: none;
  }

  
  @media (min-width: 800px) {
	.main-navbar ul {
	  display: flex;
	  padding-top: 0;
	  position: initial;
	  text-align: left;
	  align-items: center;
	  justify-content: flex-end;
	  background-color: transparent;
	}
  
	.main-navbar ul li {
	  margin-bottom: 0;
	}
  
	.main-navbar ul li:not(:last-child) {
	  margin-right: 5px;
	}
  
	.main-navbar ul li a {
	  color: #000000;
	  padding: 50px 10px;
	  display: inline-block;
	}
  }
  
  /*Banner*/
  .banner {
	width: 100%;
	min-height: 100vh;
	background-color: white;
  }
  .banner .contents {
	width: 100%;
	min-height: 100vh;
	display: flex;
	padding-left: 15px;
	flex-direction: column;
	justify-content: flex-end;
	background-position:center;
	background-size: cover;
	margin-top: -100px;
	padding-bottom: 100px;
  }
  
  .banner .contents h2,
  .banner .contents p {
	display: inline-block;
	color: black;
	margin-bottom: 10px;
	font-family: "Anton", sans-serif;
  }
  
  .banner .contents h2 {
	font-size: 45px;
  }
  
  .banner .contents p {
	font-size: 18px;
  }
  img{
	width: 400px;
	height:700px;
}
  
  @media (min-width: 800px) {
	.banner {
	  min-height: 600px;
	}
	.banner .contents {
	  min-height: 600px;
	  margin-top: 0;
	  padding-bottom: 0;
	  background-size: initial;
	  justify-content: center;
	  background-position: 300px center;
	}

	.banner .contents h2 {
	  font-size: 55px;
	}
  
	.banner .contents p {
	  font-size: 28px;
	}
  }
  
  @media (min-width: 1100px) {
	.banner .contents {
	  background-position: right center;
	}
  
	.banner .contents::after {
	  content: "";
	  width: 100%;
	  min-height: 600px;
	  position: absolute;
	  right: -160px;
	}
  }
  
  /*About*/
  #about {
	display: flex;
	padding: 20px 0;
	min-height: 50vh;
	align-items: center;
	background: blueviolet;
  }
  
  #about h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  #about .contents {
	display: center;
	grid-gap: 50px;
	grid-template-columns: 1fr;
  }
  
  @media (min-width: 800px) {
	#about {
	  padding: 50px 0;
	}
  
	#about h2 {
	  margin-bottom: 50px;
	}
  
	#about .contents {
	  grid-template-columns: 1fr 4fr;
	}
  
	#about .contents img {
	  width: 100%;
	}
  }

  /* work */

  #work {
	background: white;
	display: flex;
	padding: 20px 0;
	min-height: 50vh;
	align-items: center;
  }
  
 
  /*Contact */
  #contact {
	padding: 20px 0;
	background-color:white;
  }
  
  #contact h2 {
	margin-bottom: 20px;
  }
  
  #contact .contents .info .card {
	display: flex;
	color: black;
	width: 100%;
	height: 100px;
	justify-content: center;
	border-radius: 1px;
	flex-direction: column;
	align-items:center;
	margin-bottom: 1px;
	
	border: 3px solid black;
  }
  
  #contact .contents .info .card:hover {
	color: blue;
	box-shadow: 0 5px 15px gold;
  }
  
  #contact .contents .info .card h3 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
 
  
  @media (min-width: 600px) {
	#contact .contents .info {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  @media (min-width: 800px) {
	#contact {
	  padding: 50px 0;
	}
	#contact h2 {
	  margin-bottom: 50px;
	}
  
	#contact .contents .info {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  /*foot*/
  footer {
	width: 100%;
	background-color: #000000;
  }
  
  footer .contents {
	height: 100%;
	padding: 20px 0;
	text-align: center;
  }

  footer .contents .social-media {
	margin: 10px 0;
  }
  
  footer .contents .social-media a {
	display: inline-block;
  }

  footer .contents .social-media img {
	  height:50px;
	  width: 50px;

  }

.hide{
	display: none;
}

.go-to-top {
	float: right;
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
    text-transform: uppercase;
}
.text-center {
	text-align: center;
}
  
 
  


