@media (min-width: 800px) {
	.main-navbar ul {
	  display: flex;
	  padding-top: 0;
	  position: initial;
	  text-align: left;
	  align-items: center;
	  justify-content: flex-end;
	  background-color: transparent;
	}
  
	.main-navbar ul li {
	  margin-bottom: 0;
	}
  
	.main-navbar ul li:not(:last-child) {
	  margin-right: 5px;
	}
  
	.main-navbar ul li a {
	  color: #000000;
	  padding: 50px 10px;
	  display: inline-block;
	}
  }

  @media (min-width: 1100px) {
	.banner .contents {
	  background-position: right center;
	}
  
	.banner .contents::after {
	  content: "";
	  width: 100%;
	  min-height: 600px;
	  position: absolute;
	  right: -160px;
	}
  }

  @media (min-width: 800px) {
	#about {
	  padding: 50px 0;
	}
  
	#about h2 {
	  margin-bottom: 50px;
	}
  
	#about .contents {
	  grid-template-columns: 1fr 4fr;
	}
  
	#about .contents img {
	  width: 100%;
	}
  }

  @media (min-width: 600px) {
	#contact .contents .info {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  @media (min-width: 800px) {
	#contact {
	  padding: 50px 0;
	}
	#contact h2 {
	  margin-bottom: 50px;
	}
  
	#contact .contents .info {
	  grid-template-columns: repeat(2, 1fr);
	}
  }

